{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/about-the-place-you-live/landlord-know-previously" method="post">

{{ govukRadios({
  name: "landlordRelated",
  fieldset: {
    legend: {
      text: "Are you or any of your children related to your landlord or agent, or to your landlord's partner or the agent's partner?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
    hint: {
    text: "Related includes related through marriage, even if the marriage has ended."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
