{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/home-and-household/about-the-place-you-live/the-previous-address" novalidate>

        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Select your previous home address
        </h1>
      </legend>

      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

  <p class="govuk-body">
    6 addresses found for <b>{{ data['previous-postcode'] }}</b> and <b>{{ data['previous-number-or-name'] }}</b>. <a href='/home-and-household/about-the-place-you-live/previous-postcode' class='govuk-link'>Search again</a>
  </p>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="previous-address-1" name="previous-address" type="radio" value="1 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="previous-address-1">
      1 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="previous-address-2" name="previous-address" type="radio" value="10 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="previous-address-2">
      10 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="previous-address-3" name="previous-address" type="radio" value="11 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="previous-address-3">
      11 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="previous-address-4" name="previous-address" type="radio" value="101 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="previous-address-4">
      101 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="previous-address-5" name="previous-address" type="radio" value="110 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="previous-address-5">
      110 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="previous-address-6" name="previous-address" type="radio" value="111 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="previous-address-6">
      111 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

</div>

    </fieldset>
  </div>

  <button type="submit" class="govuk-button">
    Use this address
  </button>

  <p class="govuk-body">
    <a href="#" class="govuk-link">Enter address manually</a>
  </p>


      </form>

    </div>
  </div>

{% endblock %}
