{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/about-the-place-you-live/move-in-date" method="post">


        {% set frequencyText = "" %}

        {% if data['rentfrequency'] == "every-week" %}
          {% set frequencyText = "every week" %}
        {% elif data['rentfrequency'] == "every-2-weeks" %}
          {% set frequencyText = "every 2 weeks" %}
        {% elif data['rentfrequency'] == "every-4-weeks" %}
          {% set frequencyText = "every 4 weeks" %}
        {% elif data['rentfrequency'] == "every-calendar-month" %}
          {% set frequencyText = "every calendar month" %}
        {% elif data['rentfrequency'] == "other" %}
          {# Use the user's free‑text answer #}
          {% set frequencyText = data['rent-frequency-other'] %}
        {% endif %}


{{ govukInput({
  id: "cost",
  name: "cost",
  label: {
    text: "How much rent do you pay " + frequencyText + "?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-10",
  spellcheck: false
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
