{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/about-the-place-you-live/shared-accommodation-route" method="post">

{{ govukRadios({
  name: "sharedAccommodation",
  fieldset: {
    legend: {
      text: "Are you living in shared accommodation?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
          hint: {
    text: "Shared accommodation means you live with other adults and only have exclusive use of one room, such as your bedroom."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
