{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/address/select-address" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}What sort of accommodation do you live in? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/address/accommodation-type" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#accommodationType" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "accommodationType",
          id: "accommodationType",
          fieldset: {
            legend: {
              text: "What sort of accommodation do you live in?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "temporary-homeless",
              text: "Temporary homeless accommodation",
              checked: data['accommodationType'] == "temporary-homeless"
            },
            {
              value: "supported",
              text: "Supported accommodation",
              checked: data['accommodationType'] == "supported"
            },
            {
              value: "neither",
              text: "Neither of these",
              checked: data['accommodationType'] == "neither"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
