{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/address/property-types" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}What sort of commercial lodging, guest house, hotel or hostel is it? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        What sort of commercial lodging, guest house, hotel or hostel is it?
      </h1>

      <form method="post" action="/address/commercial-lodging-type" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#commercialLodgingType" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "commercialLodgingType",
          id: "commercialLodgingType",
          errorMessage: errorMessage,
          items: [
            {
              value: "bail-hostel",
              text: "Bail hostel / approved premises",
              checked: data['commercialLodgingType'] == "bail-hostel"
            },
            {
              value: "homeless-hostel",
              text: "Homeless hostel",
              checked: data['commercialLodgingType'] == "homeless-hostel"
            },
            {
              value: "hotel",
              text: "Hotel",
              checked: data['commercialLodgingType'] == "hotel"
            },
            {
              value: "guest-house",
              text: "Guest house",
              checked: data['commercialLodgingType'] == "guest-house"
            },
            {
              value: "other",
              text: "Other commercial lodgings",
              checked: data['commercialLodgingType'] == "other"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
