{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/address/rent-responsibility" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Which best describes the place where you live now? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        Which best describes where you live now?
      </h1>

      <form method="post" action="/address/home-type" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#homeType" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "homeType",
          id: "homeType",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "council-rent",
              text: "Renting from the council",
              checked: data['homeType'] == "council-rent"
            },
            {
              value: "housing-association-rent",
              text: "Renting from a housing association or registered social landlord",
              checked: data['homeType'] == "housing-association-rent"
            },
            {
              value: "private-landlord-rent",
              text: "Renting from a private landlord",
              checked: data['homeType'] == "private-landlord-rent"
            },
            {
              value: "owner-occupier",
              text: "An owner‑occupier",
              checked: data['homeType'] == "owner-occupier"
            },
            {
              value: "boarder",
              text: "A boarder, with meals included in your rent",
              checked: data['homeType'] == "boarder"
            },
            {
              value: "shared-ownership",
              text: "Living in a shared‑ownership tenancy",
              checked: data['homeType'] == "shared-ownership"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
