{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/address/postcode" %}

{% block pageTitle %}
  Enter your address manually – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Enter your address manually
      </h1>

      <p class="govuk-body">
        This is a placeholder page for manual address entry.
      </p>

      <p class="govuk-body">
        <a href="/address/postcode" class="govuk-link">Back to postcode lookup</a>
      </p>

    </div>
  </div>
{% endblock %}
