{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/address/home-type" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Are you living in any of the following types of properties? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        Are you living in any of the following types of properties?
      </h1>

      <form method="post" action="/address/property-types" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#propertyType" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "propertyType",
          id: "propertyType",
          errorMessage: errorMessage,
          items: [

            {
              value: "houseboat",
              text: "A houseboat",
              checked: data['propertyType'] == "houseboat"
            },
            {
              value: "mobile-home-caravan",
              text: "A mobile home or caravan",
              checked: data['propertyType'] == "mobile-home-caravan"
            },
            {
              value: "commercial-lodgings",
              text: "A temporary accomodation",
              checked: data['propertyType'] == "commercial-lodgings"
            },
            {
              value: "none",
              text: "None of these",
              checked: data['propertyType'] == "none"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
