{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/address/home-type" %}

{% block pageTitle %}
  Are you living in any of the following types of properties? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Are you living in any of the following types of properties?
      </h1>

      <p class="govuk-body">
        This is a placeholder page for the property types question.
      </p>

      <p class="govuk-body">
        <a href="/task-list" class="govuk-link">Return to task list</a>
      </p>

    </div>
  </div>
{% endblock %}
