{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/address/accommodation-type" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Who provides the support? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/address/support-provider" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#supportProvider" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukInput({
          label: {
            text: "Who provides the support?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "For example, a sheltered housing provider."
          },
          id: "supportProvider",
          name: "supportProvider",
          value: data['supportProvider'],
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
