{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/about-your-property/permanent-main-home" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}What is the postcode of the address you are applying for? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/about-your-property/claim-postcode" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#claim-postcode" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukInput({
          label: {
            text: "What is the postcode of the address you are applying for?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          classes: "govuk-input--width-10",
          id: "claim-postcode",
          name: "claim-postcode",
          value: data['claim-postcode'],
          autocomplete: "postal-code",
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Find address"
        }) }}

        <p class="govuk-body">
          <a href="/about-your-property/claim-address-manual" class="govuk-link">Enter the address manually</a>
        </p>

      </form>

    </div>
  </div>
{% endblock %}
