{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/about-your-property/know-move-in-date" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}When will you move into the address you are claiming for? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/about-your-property/move-in-date" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#move-in-date" %}
              {% set errorMessage = { text: error.text } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukDateInput({
          id: "move-in-date",
          namePrefix: "move-in-date",
          fieldset: {
            legend: {
              text: "When will you move into the address you are claiming for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          errorMessage: errorMessage,
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['move-in-date-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['move-in-date-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['move-in-date-year']
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
