{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/about-your-property/rent-frequency" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}How much rent do you pay? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/about-your-property/rent-amount" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#rent-amount" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% set frequencyText = "" %}
        {% if data['rentFrequency'] == "every-week" %}
          {% set frequencyText = "every week" %}
        {% elif data['rentFrequency'] == "every-2-weeks" %}
          {% set frequencyText = "every 2 weeks" %}
        {% elif data['rentFrequency'] == "every-4-weeks" %}
          {% set frequencyText = "every 4 weeks" %}
        {% elif data['rentFrequency'] == "every-calendar-month" %}
          {% set frequencyText = "every calendar month" %}
        {% endif %}

        {{ govukInput({
          label: {
            text: "How much rent do you pay " + frequencyText + "?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "If you share your rent with other people, enter the full rent amount, not just your share"
          },
          id: "rent-amount",
          name: "rent-amount",
          classes: "govuk-input--width-10",
          prefix: {
            text: "£"
          },
          spellcheck: false,
          errorMessage: errorMessage,
          value: data['rent-amount']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
