{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set languageToggle = 'true' %}

{% set title =  "Enter your password" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{ title }}</h1>

        <form action="ol-enter-password" method="post" class="form">
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-form-group">
                    <div class="govuk-show-password__input-wrapper">
                        <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password">
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is shown</span>
                    </div>
                </div>
            </div>
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
            </div>

            {{ govukButton({
            text: "Continue"
            }) }}

        </form>


    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/show-password.js"></script>
{% endblock %}