{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have been signed out
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You have been signed out</h1>

    <p class="govuk-body">
      <a href="https://www.gov.uk" class="govuk-link">
        Go to the GOV.UK homepage
      </a>
   or <a href="https://www.gov.uk" class="govuk-link">
        sign in
      </a>
      to GOV.UK One Login.
    </p>

    <a href="/ol-landing-page" class="govuk-button">Continue Journey</a>

  </div>
</div>

{% endblock %}