{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have been signed out
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You have signed out</h1>

    <p class="govuk-body">
      Your progress has been saved.
    </p>

    <p class="govuk-body">Your answers will be deleted if you do not complete your application before 11.59pm on {{ expiryDate }}.</p>


    <a href="/ol-landing-page" class="govuk-button">Continue Journey</a>

  </div>
</div>

{% endblock %}