{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/save-and-return/sign-out-decision" method="post">
        
        <h1 class="govuk-heading-l">Before you sign out</h1>

        <p class="govuk-body">Your current progress in your application has been saved.</p>
        <p class="govuk-body">Please return within 30 days to complete your application, otherwise you will have to start again.</p>

        <h2 class="govuk-heading-m">Are you sure you want to sign out?</h2>

        {{ govukRadios({
          idPrefix: "signOut",
          name: "signOut",
          items: [
            { value: "yes", text: "Yes", checked: data['signOut'] == 'yes' },
            { value: "no", text: "No", checked: data['signOut'] == 'no' }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}

      </form>

    </div>
  </div>

{% endblock %}