{% extends "layouts/main.html" %}

{% block pageTitle %}
  Protecting your identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/ol-views/protect-identity">

      <fieldset class="govuk-fieldset" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-l">Protecting your identity</h1>
        </legend>

        <p class="govuk-body">
          For security, we will now ask you to confirm some details we hold about you.
        </p>

        <p class="govuk-body">
          We'll check your answers against our records. If your answers do not match, your application may be delayed.
        </p>
      </fieldset>

      <div class="govuk-form-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}
``