{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/task-list" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Are you responsible for any children or qualifying young people who live with you? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/household/children" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#hasChildren" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "hasChildren",
          id: "hasChildren",
          fieldset: {
            legend: {
              text: "Are you responsible for any children or qualifying young people who live with you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Children are under age 16. A qualifying young person is aged 16 to 19 and in non‑advanced full‑time education or training."
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: data['hasChildren'] == "yes"
            },
            {
              value: "no",
              text: "No",
              checked: data['hasChildren'] == "no"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
