{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}When did you start living together? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/household/first-person-registered-blind"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" action="/household/first-person-living-together-date" method="post" novalidate>
        
        <span class="govuk-caption-xl">About {{ data['first-person-name'] }}</span>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#first-person-living-together-date" %}
              {% set errorMessage = { text: error.text } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukDateInput({
          id: "first-person-living-together-date",
          namePrefix: "first-person-living-together-date",
          fieldset: {
            legend: {
              text: "When did you start living together?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          errorMessage: errorMessage,
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['first-person-living-together-date-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['first-person-living-together-date-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['first-person-living-together-date-year']
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
