{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Do they provide care or support? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/household/first-person-money-from-working"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" action="/household/first-person-provides-care" method="post" novalidate>
        
        <span class="govuk-caption-xl">About {{ data['first-person-name'] }}</span>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#first-person-provides-care" %}
              {% set errorMessage = { text: error.text } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "first-person-provides-care",
          id: "first-person-provides-care",
          fieldset: {
            legend: {
              text: "Do they provide care for someone else who lives in your home?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "yes-35-plus",
              text: "Yes, for 35 or more hours a week",
              checked: data['first-person-provides-care'] == "yes-35-plus"
            },
            {
              value: "yes-24-34",
              text: "Yes, for between 24 and 34 hours a week",
              checked: data['first-person-provides-care'] == "yes-24-34"
            },
            {
              value: "yes-less-24",
              text: "Yes, for less than 24 hours a week",
              checked: data['first-person-provides-care'] == "yes-less-24"
            },
            {
              value: "no",
              text: "No",
              checked: data['first-person-provides-care'] == "no"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
