{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}What is their national insurance number? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/household/first-person-national-insurance"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" action="/household/first-person-nino-input" method="post" novalidate>

        <span class="govuk-caption-xl">About {{ data['first-person-name'] }}</span>

        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#first-person-nino" %}
              {% set errorMessage = { text: error.text } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukInput({
          label: {
            text: "What is their national insurance number?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "It's on your national insurance card, benefit letter, payslip or P60. For example 'QQ 12 34 56 C'."
          },
          id: "first-person-nino",
          name: "first-person-nino",
          classes: "govuk-input--width-10",
          spellcheck: false,
          autocomplete: "off",
          errorMessage: errorMessage,
          value: data['first-person-nino']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
