{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Is this person currently getting any of the following benefits? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/household/first-person-severely-mentally-impaired"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" action="/household/first-person-benefits" method="post" novalidate>
        
        <span class="govuk-caption-xl">About {{ data['first-person-name'] }}</span>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#first-person-benefits" %}
              {% set errorMessage = { text: error.text } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "first-person-benefits",
          id: "first-person-benefits",
          fieldset: {
            legend: {
              text: "Is this person currently getting any of the following benefits?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "income-support",
              text: "Income Support",
              checked: data['first-person-benefits'] == "income-support"
            },
            {
              value: "income-based-jsa",
              text: "Income‑based Jobseeker's Allowance",
              checked: data['first-person-benefits'] == "income-based-jsa"
            },
            {
              value: "income-related-esa",
              text: "Income‑related Employment and Support Allowance",
              checked: data['first-person-benefits'] == "income-related-esa"
            },
            {
              value: "universal-credit",
              text: "Universal Credit",
              checked: data['first-person-benefits'] == "universal-credit"
            },
            {
              value: "none",
              text: "None",
              checked: data['first-person-benefits'] == "none"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
