{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}What is your living situation? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/household/first-person-relationship"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" action="/household/living-situation" method="post" novalidate>
        
        <span class="govuk-caption-xl">About {{ data['first-person-name'] }}</span>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#living-situation" %}
              {% set errorMessage = { text: error.text } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "living-situation",
          id: "living-situation",
          fieldset: {
            legend: {
              text: "What is your living situation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "joint-owners-tenants",
              text: "We are joint owners or joint tenants",
              hint: {
                text: "Both your names are on the mortgage or tenancy agreement"
              },
              checked: data['living-situation'] == "joint-owners-tenants"
            },
            {
              value: "individual-tenants",
              text: "We are individual tenants",
              hint: {
                text: "You have your own agreements with the same landlord"
              },
              checked: data['living-situation'] == "individual-tenants"
            },
            {
              value: "boarder-lodger-subtenant",
              text: "They are my boarder, lodger or subtenant",
              hint: {
                text: "They pay to share your home, or rent part of your property"
              },
              checked: data['living-situation'] == "boarder-lodger-subtenant"
            },
            {
              value: "landlord-family",
              text: "They are my landlord, or a member of my landlord's family",
              hint: {
                text: "You pay to share their home, or rent part of their property"
              },
              checked: data['living-situation'] == "landlord-family"
            },
            {
              value: "charity-volunteer",
              text: "They are from a charity or voluntary organisation",
              hint: {
                text: "They are paid, or volunteer to live in your home and care for you"
              },
              checked: data['living-situation'] == "charity-volunteer"
            },
                {
      divider: "or"
    },
            {
              value: "none-of-these",
              text: "None of these",
              checked: data['living-situation'] == "none-of-these"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
