{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/household/children" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Does anyone else who is over 18 live with you? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/household/other-adults" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% for error in errors %}
            {% if error.href == "#hasOtherAdults" %}
              {% set errorMessage = {
                text: error.text
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukRadios({
          name: "hasOtherAdults",
          id: "hasOtherAdults",
          fieldset: {
            legend: {
              text: "Does anyone else who is over 18 live with you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: data['hasOtherAdults'] == "yes"
            },
            {
              value: "no",
              text: "No",
              checked: data['hasOtherAdults'] == "no"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
