{% extends "layouts/internal.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Existing claim status
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/agent-view/existing-claim-status-continue" method="post">

    <!-- PC / pHB summary tags -->
    <div class="govuk-!-margin-bottom-4">
      <p class="govuk-body">
        <strong>Pension Credit application:</strong> {{ govukTag({ text: "In progress" }) }}
      </p>
      <p class="govuk-body">
        <strong>Housing Benefit application:</strong> {{ govukTag({ text: "To do", classes: "govuk-tag--grey" }) }}
      </p>
    </div>

    <p>
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </p>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
  Freya Weston
  <span class="govuk-caption-l">AB 12 34 56 C</span>
</h1>

<div class="govuk-!-margin-bottom-6">

    <!-- Date of claim + Backdate -->
    <div class="govuk-!-margin-bottom-6">
      <p class="govuk-body govuk-!-margin-bottom-1">
        <strong>Date of claim:</strong> 12 February 2025
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
        <strong>Backdate requested from:</strong> 1 January 2025
      </p>
    </div>

</div>

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "existingClaims",
  fieldset: {
    legend: {
      text: "Do any other claims already exist for Freya Weston on your processing systems?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
