{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pension Credit: How to claim (dummy) – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        Pension Credit
      </h1>

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Contents
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#overview">
                Overview
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#eligibility">
                Eligibility
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#what-youll-get">
                What you'll get
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-!-font-weight-bold" href="#how-to-claim">
                How to claim
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#report-a-change">
                Report a change of circumstances
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <h2 class="govuk-heading-l" id="how-to-claim">How to claim</h2>

      <p class="govuk-body">
        Before you apply for Pension Credit, 
        <span class="govuk-link">check if you’re eligible</span>
      </p>

      <p class="govuk-body">
        You can start your application up to 4 months before you reach State Pension age.
      </p>

      <p class="govuk-body">
      You can apply any time after you reach State Pension age but your application can only be backdated by 3 months. This means you can get up to 3 months of Pension Credit in your first payment if you were eligible during that time.
      </p>

      <h2 class="govuk-heading-m">Information you’ll need</h2>

      <p class="govuk-body">
        You’ll need the following information about you and your partner if you have one:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>National Insurance number</li>
        <li>information about any income, savings and investments you have</li>
        <li>information about your income, savings and investments on the date you want to backdate your application to (usually 3 months ago or the date you reached State Pension age)</li>
      </ul>

      <p class="govuk-body">
        You’ll also need your bank account details. Depending on how you apply, you may also be asked for your bank or building society name, sort code and account number.
      </p>

      <h2 class="govuk-heading-m">Apply online

      <p class="govuk-body">
        You can use the online service if you have already applied for your State Pension.
      </p>

</h2>

      {{ govukButton({
        text: "Apply now",
        href: "/apply-housing-benefit",
        isStartButton: true
      }) }}

      <p class="govuk-body">
        <a href="#" class="govuk-link">Find out more about Pension Credit</a>
      </p>

    </div>
  </div>
{% endblock %}
