{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
      Pension Credit and Housing Benefit 
      </h1>

      <nav class="govuk-contents-list" role="navigation" aria-label="Contents">
        <h2 class="govuk-heading-m">
          Contents
        </h2>
        <ul class="govuk-contents-list__list">
          <li class="govuk-contents-list__list-item">
            <a class="govuk-contents-list__link" href="#overview">
              Overview
            </a>
          </li>
          <li class="govuk-contents-list__list-item">
            <a class="govuk-contents-list__link" href="#eligibility">
              Eligibility
            </a>
          </li>
          <li class="govuk-contents-list__list-item">
            <a class="govuk-contents-list__link" href="#what-youll-get">
              What you'll get
            </a>
          </li>
          <li class="govuk-contents-list__list-item">
            <a class="govuk-contents-list__link" href="#how-to-claim">
              How to claim
            </a>
          </li>
          <li class="govuk-contents-list__list-item">
            <a class="govuk-contents-list__link" href="#report-a-change-of-circumstances">
              Report a change of circumstances
            </a>
          </li>
        </ul>
      </nav>

      <h1 class="govuk-heading-l">
      Overview
      </h1>

      <p>Pension Credit gives you extra money to help with your living costs if you are over State Pension age and on a low income. You can apply for Housing Benefit at the same time.</p>

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "This guide is also available in Welsh (Cymraeg) and easy read format."
}) }}

      <p>You might get extra help if you are a carer, severely disabled, or responsible for a child or young person.</p>

      <p>Pension Credit and Housing Benefit are separate from your State Pension.</p>

       <p>You may be able to get Pension Credit and Housing Benefit even if you have other income, savings or own your own home. </p>

       {{ govukInsetText({
  text: "This guide covers Pension Credit in England, Scotland and Wales. Find out about Pension Credit in Northern Ireland."
}) }}

        <h2 class="govuk-heading-m" id="subsection-title">
          Other help if you get Pension Credit
        </h2>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      <p> If you get Pension Credit you can also get other help, such as: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Cold Weather Payments (or Winter Heating Payments in Scotland)</li>
        <li>Support for Mortgage Interest if you own the property you live in</li>
        <li>a Council Tax Reduction</li>
        <li>a free TV licence if you’re aged 75 or over</li>
        <li>help with NHS dental treatment, glasses and transport costs for hospital appointments, if you get the Guarantee Credit part of Pension Credit</li>
        <li>help with your heating costs through the Warm Home Discount Scheme</li>
        <li>a discount on the Royal Mail redirection service if you’re moving house</li>
      </ul>
    </legend>

      
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Check your eligibility"
}) }}

{% endblock %}
