{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/task-list" method="post" novalidate>

<h1 class="govuk-heading-l">Check your answers</h1>

<h2 class="govuk-heading-m">Your address</h2>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: [

    {
      key: { text: "Do you live permanently in a care home?" },
      value: { text: (data['permcarehome'] or "Not provided") },
      actions: {
        items: [
          {
            href: "/path/to/perm-care-home",
            text: "Change",
            visuallyHiddenText: "whether you live permanently in a care home"
          }
        ]
      }
    },

    {
      key: { text: "Do you own the property you used to live in?" },
      value: { text: (data['ownPreviousHome'] or "Not provided") },
      actions: {
        items: [
          {
            href: "/path/to/own-previous-home",
            text: "Change",
            visuallyHiddenText: "whether you own the property you used to live in"
          }
        ]
      }
    },

    {
      key: { text: "What is the post code of your care home?" },
      value: { text: (data['care-home-postcode'] or "Not provided") },
      actions: {
        items: [
          {
            href: "/path/to/care-home-postcode",
            text: "Change",
            visuallyHiddenText: "care home postcode"
          }
        ]
      }
    },

    {
      key: { text: "What is the address of your care home?" },
      value: { text: (data['care-home-address'] or "Not provided") },
      actions: {
        items: [
          {
            href: "/path/to/care-home-address",
            text: "Change",
            visuallyHiddenText: "care home address"
          }
        ]
      }
    }

  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
