{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Your address</span>

      <form class="form" action="/disabled-reduction" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "counciltaxresponsibility",
  fieldset: {
    legend: {
      text: "Who pays the Council Tax bill for your home?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "I pay the full amount myself",
      text: "I pay the full amount myself"
    },
    {
      value: "Both me and my partner",
      text: "Both me and my partner"
    },
    {
      value: "My landlord",
      text: "My landlord"
    },
    {
      value: "Someone else pays it",
      text: "Someone else pays it"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
