{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/your-address/rent-responsibility" method="post">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Select your home address
        </h1>
      </legend>

      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

  <p class="govuk-body">
    6 addresses found for <b>{{ data['home-postcode'] }}</b> and <b>{{ data['home-number-or-name'] }}</b>. <a href='/home-and-household/your-address/home-postcode' class='govuk-link'>Search again</a>
  </p>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="home-address-1" name="home-address" type="radio" value="1 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="home-address-1">
      1 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="home-address-2" name="home-address" type="radio" value="10 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="home-address-2">
      10 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="home-address-3" name="home-address" type="radio" value="11 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="home-address-3">
      11 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="home-address-4" name="home-address" type="radio" value="101 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="home-address-4">
      101 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="home-address-5" name="home-address" type="radio" value="110 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="home-address-5">
      110 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="home-address-6" name="home-address" type="radio" value="111 Washington Street, Worcester, WR1 1NL">
    <label class="govuk-label govuk-radios__label" for="home-address-6">
      111 Washington Street, Worcester, WR1 1NL
    </label>
  </div>

</div>

    </fieldset>
  </div>

  <button type="submit" class="govuk-button">
    Use this address
  </button>

  <p class="govuk-body">
    <a href="#" class="govuk-link">Enter address manually</a>
  </p>

</form>

    </div>
  </div>

    <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/your-address/check-your-answers" method="post">


        <div class="govuk-width-container">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Select your care home address
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <p class='govuk-body'>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href='#' class='govuk-link'>Search again</a></p>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-an-address" name="care-home-address" type="radio" value="1 Washington Street, Worcester, WR1 1NL"
            data-ga-question="Select an address" data-ga-answer="Answer 1">
          <label class="govuk-label govuk-radios__label" for="select-an-address">
            1 Washington Street, Worcester, WR1 1NL
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-an-address-2" name="care-home-address" type="radio" value="10 Washington Street, Worcester, WR1 1NL"
            data-ga-question="Select an address" data-ga-answer="Answer 2">
          <label class="govuk-label govuk-radios__label" for="select-an-address-2">
            10 Washington Street, Worcester, WR1 1NL
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-an-address-3" name="care-home-address" type="radio" value="11 Washington Street, Worcester, WR1 1NL"
            data-ga-question="Select an address" data-ga-answer="Answer 2">
          <label class="govuk-label govuk-radios__label" for="select-an-address-3">
            11 Washington Street, Worcester, WR1 1NL
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-an-address-4" name="care-home-address" type="radio" value="101 Washington Street, Worcester, WR1 1NL"
            data-ga-question="Select an address" data-ga-answer="Answer 3">
          <label class="govuk-label govuk-radios__label" for="select-an-address-4">
            101 Washington Street, Worcester, WR1 1NL
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-an-address-5" name="care-home-address" type="radio" value="110 Washington Street, Worcester, WR1 1NL"
            data-ga-question="Select an address" data-ga-answer="Answer 4">
          <label class="govuk-label govuk-radios__label" for="select-an-address-5">
            110 Washington Street, Worcester, WR1 1NL
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-an-address-6" name="care-home-address" type="radio" value="111 Washington Street, Worcester, WR1 1NL"
            data-ga-question="Select an address" data-ga-answer="Answer 5">
          <label class="govuk-label govuk-radios__label" for="select-an-address-6">
            111 Washington Street, Worcester, WR1 1NL
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Use this address
  </button>
  <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
</div>
      </form>

    </div>
  </div> -->

{% endblock %}
