{% extends "layouts/internal-2.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  New applications
{% endblock %}

<!-- Application status helper flags -->

{% set hasInformationNeeded = false %}

{% if data['claimOverviewInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('claim-overview' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% if data['personalDetailsInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('personal-details' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% if data['partnerPersonalDetailsInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('partner-details' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% if data['homeDetailsInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('home-details' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% if data['householdDetailsInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('household-details' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% if data['incomeDetailsInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('income-details' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% if data['contactDetailsInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('contact-information' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% if data['paymentDetailsInfoNeeded'] == "yes"
  and not (data['informationReceivedSections']
    and ('payment-details' in data['informationReceivedSections'])) %}
  {% set hasInformationNeeded = true %}
{% endif %}

{% set hasInformationReceived =
  data['informationReceivedSections']
  and data['informationReceivedSections'].length > 0
%}

{% set hasDoneSection =
  data['claimOverviewInfoNeeded'] == "no" or
  data['personalDetailsInfoNeeded'] == "no" or
  data['partnerPersonalDetailsInfoNeeded'] == "no" or
  data['homeDetailsInfoNeeded'] == "no" or
  data['householdDetailsInfoNeeded'] == "no" or
  data['incomeDetailsInfoNeeded'] == "no" or
  data['contactDetailsInfoNeeded'] == "no" or
  data['paymentDetailsInfoNeeded'] == "no"
%}

<!-- Application status calculation -->

{% set housingBenefitStatus = "Application received" %}
{% set pensionCreditStatus = "Application received" %}

{% if data['housingBenefitAward'] == "hb-awarded" %}

  {% set housingBenefitStatus = "In payment" %}

{% elif
  data['housingBenefitAward'] == "hb-criteria-not-met" or
  data['housingBenefitAward'] == "hb-evidence-not-submitted"
%}

  {% set housingBenefitStatus = "Not entitled" %}

{% elif data['agentType'] == "hb" and hasInformationNeeded %}

  {% set housingBenefitStatus = "Information needed" %}

{% elif data['agentType'] == "hb" and hasInformationReceived %}

  {% set housingBenefitStatus = "Information received" %}

{% elif data['agentType'] == "hb" and hasDoneSection %}

  {% set housingBenefitStatus = "Processing application" %}

{% endif %}

{% if
  data['pensionCreditAward'] == "guarantee-credit" or
  data['pensionCreditAward'] == "savings-credit" or
  data['pensionCreditAward'] == "both-credits"
%}

  {% set pensionCreditStatus = "In payment" %}

{% elif
  data['pensionCreditAward'] == "pc-criteria-not-met" or
  data['pensionCreditAward'] == "pc-evidence-not-submitted"
%}

  {% set pensionCreditStatus = "Not entitled" %}

{% elif data['agentType'] == "pc" and hasInformationNeeded %}

  {% set pensionCreditStatus = "Information needed" %}

{% elif data['agentType'] == "pc" and hasInformationReceived %}

  {% set pensionCreditStatus = "Information received" %}

{% elif data['agentType'] == "pc" and hasDoneSection %}

  {% set pensionCreditStatus = "Processing application" %}

{% endif %}

<!-- Case list tags -->

{% set pensionCreditStatusTag %}
  {% if pensionCreditStatus == "Application received" %}
    <strong class="govuk-tag govuk-tag--grey">Application received</strong>
  {% elif pensionCreditStatus == "Information needed" %}
    <strong class="govuk-tag govuk-tag--orange">Information needed</strong>
  {% elif pensionCreditStatus == "Information received" %}
    <strong class="govuk-tag govuk-tag--teal">Information received</strong>
  {% elif pensionCreditStatus == "Processing application" %}
    <strong class="govuk-tag govuk-tag--purple">Processing application</strong>
  {% elif pensionCreditStatus == "In payment" %}
    <strong class="govuk-tag govuk-tag--green">In payment</strong>
  {% elif pensionCreditStatus == "Not entitled" %}
    <strong class="govuk-tag govuk-tag--red">Not entitled</strong>
  {% endif %}
{% endset %}

{% set housingBenefitStatusTag %}
  {% if housingBenefitStatus == "Application received" %}
    <strong class="govuk-tag govuk-tag--grey">Application received</strong>
  {% elif housingBenefitStatus == "Information needed" %}
    <strong class="govuk-tag govuk-tag--orange">Information needed</strong>
  {% elif housingBenefitStatus == "Information received" %}
    <strong class="govuk-tag govuk-tag--teal">Information received</strong>
  {% elif housingBenefitStatus == "Processing application" %}
    <strong class="govuk-tag govuk-tag--purple">Processing application</strong>
  {% elif housingBenefitStatus == "In payment" %}
    <strong class="govuk-tag govuk-tag--green">In payment</strong>
  {% elif housingBenefitStatus == "Not entitled" %}
    <strong class="govuk-tag govuk-tag--red">Not entitled</strong>
  {% endif %}
{% endset %}

{% block content %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Cases",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: false,
  head: [
    { text: "Claim submitted" },
    { text: "Date updated" },
    { text: "Pension Credit status" },
    { text: "Housing Benefit status" },
    { text: "Process claim" }
  ],
  rows: [
    [
      { text: "6 February 2025" },
      { text: "12 February 2025" },
      { html: '<strong class="govuk-tag govuk-tag--green">In payment</strong>' },
      { html: '<strong class="govuk-tag govuk-tag--purple">Processing application</strong>' },
      { html: '  <a href="#"> Process claim </a>' } 
      ],
    [
      { text: "12 February 2025" },
      { text: "" },
      { html: pensionCreditStatusTag },
      { html: housingBenefitStatusTag },
      { html: '  <a href="/agent-view-v05/agent-task-list"> Process claim </a>' }    ]
  ]
}) }}

{% endblock %}