{% extends "layouts/internal-2.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Supporting evidence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      Freya Weston
    </h1>

    <span class="govuk-caption-xl govuk-!-margin-bottom-6">
      AB 12 34 56 C
    </span>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

<form class="form" action="/agent-view-v05/supporting-evidence" method="post">

      {{ govukRadios({
        name: "supportingEvidenceReceived",
        fieldset: {
          legend: {
            text: "Have you received supporting evidence from the customer to process their application?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}