{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/about-the-place-you-live/property-purpose" method="post">

      <h1 class="govuk-heading-l">
        Select the address of the property or land
      </h1>

      <p class="govuk-body">
        Postcode: <strong>{{ data['other-postcode'] }}</strong>
        <a href="/home-and-household/about-the-place-you-live/postcode-other-property" class="govuk-link govuk-!-margin-left-2">Change</a>
      </p>

      <form method="post" action="/home-and-household/about-the-place-you-live/property-purpose" novalidate>

        {{ govukSelect({
          id: "address-other-property",
          name: "address-other-property",
          label: {
            text: "Select an address"
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "",
              text: "Select an address",
              selected: not data['address-other-property']
            },
            {
              value: "1 High Street, Anytown, AN1 1AA",
              text: "1 High Street, Anytown",
              selected: data['address-other-property'] == "1 High Street, Anytown, AN1 1AA"
            },
            {
              value: "2 High Street, Anytown, AN1 1AA",
              text: "2 High Street, Anytown",
              selected: data['address-other-property'] == "2 High Street, Anytown, AN1 1AA"
            },
            {
              value: "3 High Street, Anytown, AN1 1AA",
              text: "3 High Street, Anytown",
              selected: data['address-other-property'] == "3 High Street, Anytown, AN1 1AA"
            },
            {
              value: "Flat 1, 4 High Street, Anytown, AN1 1AA",
              text: "Flat 1, 4 High Street, Anytown",
              selected: data['address-other-property'] == "Flat 1, 4 High Street, Anytown, AN1 1AA"
            },
            {
              value: "Flat 2, 4 High Street, Anytown, AN1 1AA",
              text: "Flat 2, 4 High Street, Anytown",
              selected: data['address-other-property'] == "Flat 2, 4 High Street, Anytown, AN1 1AA"
            }
          ]
        }) }}

        <p class="govuk-body">
          <a href="#" class="govuk-link">I can't find my address in the list</a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
