{% extends "layouts/internal-2.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Invite to claim
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-xl">
      Invite to claim
    </h1>

    <p class="govuk-body">
    Enter a citizen's details to send them an invite to apply for Pension Credit and Housing Benefit.
    </p>

<form class="form" action="/agent-view-v04/invite-to-claim" method="post">

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "firstName",
        name: "firstName",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "lastName",
        name: "lastName",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "National Insurance number"
        },
        id: "nino",
        name: "nino",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Email"
        },
        id: "email",
        name: "email",
        type: "email",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Phone number"
        },
        id: "phoneNumber",
        name: "phoneNumber",
        type: "tel",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukButton({
        text: "Invite to claim"
      }) }}

    </form>

  </div>
</div>

{% endblock %}