{% extends "layouts/internal-2.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "timeline/macro.njk" import dwpTimeline %}

{% block pageTitle %}
  Partner personal details
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-6" style="position: relative;">

  <!-- LEFT SIDE = Name + quick reference -->
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Freya Weston
      <span class="govuk-caption-l">AB 12 34 56 C</span>
    </h1>

        <!-- back link -->
    <p>
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </p>

    <!-- Partner's personal details -->

<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
  Partner's personal details
</h2>

<p class="govuk-body">
  Copy the claim details into your processing system.
</p>

<form class="form" action="/agent-view-v04/partner-personal-details" method="post">

  <h3 class="govuk-heading-m govuk-!-margin-top-7">
    Partner's personal details
  </h3>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Partner's name" },
        value: { text: "John Jones" }
      },
      {
        key: { text: "National Insurance number" },
        value: { text: "PG 78 91 23 C" }
      },
      {
        key: { text: "Living in" },
        value: { text: "England" }
      },
      {
        key: { text: "Date of birth" },
        value: { text: "18 November 1947" }
      }
    ]
  }) }}

  <h3 class="govuk-heading-m govuk-!-margin-top-7">
    Health and disability
  </h3>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Blind / sight impaired" },
        value: { text: "No" }
      }
    ]
  }) }}

  <h3 class="govuk-heading-m govuk-!-margin-top-7">
    Residency and travel
  </h3>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Nationality" },
        value: { text: "British" }
      }
    ]
  }) }}

  <h3 class="govuk-heading-m govuk-!-margin-top-7">
    Hospital stay
  </h3>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Currently inpatient" },
        value: { text: "No" }
      },
      {
        key: {
          html: "Overnight hospital stay between 28 March 2026 and 28 December 2025"
        },
        value: {
          text: "No"
        }
      }
    ]
  }) }}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "partnerPersonalDetailsInfoNeeded",
    fieldset: {
      legend: {
        text: "Do you need more information about the partner's personal details to process this claim?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>

      <p class="govuk-body govuk-!-margin-top-1">
        <a href="/agent-view-v04/agent-task-list">
        Return to task list
        </a>
      </p>

</div>
 </div>

{% endblock %}