{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Rental and housing costs</span>

      <form class="form" action="/home-and-household/rental-and-housing-costs/rent-frequency" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "livingsituation",
  fieldset: {
    legend: {
      text: "Which of the following describes your living situation?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
  {
    value: "I rent from a local authority",
    text: "I rent from a local authority"
  },
  {
    value: "I rent from a housing association or registered social landlord",
    text: "I rent from a housing association or registered social landlord"
  },
  {
    value: "I rent from a private landlord",
    text: "I rent from a private landlord"
  },
  {
    value: "I am a boarder with meals included in my rent",
    text: "I am a boarder with meals included in my rent"
  }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
