{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">People who live with you</span>

      <form class="form" action="/home-and-household/people-who-live-with-you/add-another-person" method="post">
        

{% set rows = [] %}
{% set people = data.nondependants or [] %}

{% for person in people %}
  {% set rows = rows.concat([{
    key: { text: "Name" },
    value: { text: person.name },
    actions: {
      items: [{
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
      }]
    }
  }]) %}
{% endfor %}

<h1 class="govuk-heading-l">
  You have added {{ people.length }}
  {% if people.length == 1 %}
    person
  {% else %}
    people
  {% endif %}
</h1>

{{ govukSummaryList({
  rows: rows
}) }}



        {{ govukInsetText({
          text: "You should tell these people that DWP may use their information as part of your application. This includes information you provide or that we already hold about them."
        }) }}

        <h2 class="govuk-heading-m">Does anyone else who is 18 or over live with you?</h2>
        <p class="govuk-body"></p>

        {{ govukRadios({
          idPrefix: "addAnother",
          name: "addAnother",
          items: [
            { value: "yes", text: "Yes", checked: data['addAnother'] == 'yes' },
            { value: "no", text: "No", checked: data['addAnother'] == 'no' }
          ]
        }) }}

        {{ govukButton({ text: "Save and continue" }) }}

      </form>

    </div>
  </div>

{% endblock %}