{% extends "layouts/main.html" %}

{# ----------------------------- #
  MONTH LOOKUP
# ------------------------------ #}

{% set monthNames = {
  '1': 'January','2': 'February','3': 'March','4': 'April',
  '5': 'May','6': 'June','7': 'July','8': 'August',
  '9': 'September','10': 'October','11': 'November','12': 'December'
} %}

{# ----------------------------- #
  ADULT DOB
# ------------------------------ #}

{% set dob_day   = data['date-of-birth-day'] | default('') %}
{% set dob_month = data['date-of-birth-month'] | default('') %}
{% set dob_year  = data['date-of-birth-year'] | default('') %}

{% set dob_display = "" %}
{% if dob_day and dob_month and dob_year and monthNames[dob_month] %}
  {% set dob_display = dob_day ~ " " ~ monthNames[dob_month] ~ " " ~ dob_year %}
{% endif %}

{# ----------------------------- #
  CHILD DOB (FIXED KEYS)
# ------------------------------ #}

{% set child_day   = data['child-date-of-birth-day'] | default('') %}
{% set child_month = data['child-date-of-birth-month'] | default('') %}
{% set child_year  = data['child-date-of-birth-year'] | default('') %}

{% set child_dob_display = "" %}
{% if child_day and child_month and child_year and monthNames[child_month] %}
  {% set child_dob_display = child_day ~ " " ~ monthNames[child_month] ~ " " ~ child_year %}
{% endif %}


{# ----------------------------- #
  LIVING TOGETHER DATE
# ------------------------------ #}

{% set live_day   = data['date-living-together-day'] | default('') %}
{% set live_month = data['date-living-together-month'] | default('') %}
{% set live_year  = data['date-living-together-year'] | default('') %}

{% set living_together_display = "" %}
{% if live_day and live_month and live_year and monthNames[live_month] %}
  {% set living_together_display = live_day ~ " " ~ monthNames[live_month] ~ " " ~ live_year %}
{% endif %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-l">People who live with you</span>

<form class="form" action="/home-and-household/people-who-live-with-you/check-details-nondep1" method="post">

<h1 class="govuk-heading-l">Check this person's details</h1>

{% set rows = [] %}

{# ----------------------------- #
  ADULT ROWS (WITH CHANGE LINKS)
# ------------------------------ #}

{% set rows = rows.concat([{
  key: { text: "Name" },
  value: { text: data['nondep1Name'] or "Not provided" },
  actions: { items: [{ href: "/home-and-household/people-who-live-with-you/name-nondep1", text: "Change" }] }
}]) %}

{% set rows = rows.concat([{
  key: { text: "Living situation" },
  value: { text: data['livingSituation'] or "Not provided" },
  actions: { items: [{ href: "/home-and-household/people-who-live-with-you/living-situation-nondep1", text: "Change" }] }
}]) %}

{% set rows = rows.concat([{
  key: { text: "Are you related to them?" },
  value: { text: data['relatednonDep'] or "No" },
  actions: { items: [{ href: "/home-and-household/people-who-live-with-you/related-nondep1", text: "Change" }] }
}]) %}

{% if data['relatednonDep'] == "Yes" %}
{% set rows = rows.concat([{
  key: { text: "How are you related?" },
  value: { text: data['howrelatednonDep'] or "Not provided" },
  actions: { items: [{ href: "/home-and-household/people-who-live-with-you/how-related-nondep1", text: "Change" }] }
}]) %}
{% endif %}

{% set rows = rows.concat([{
  key: { text: "Date of birth" },
  value: { text: dob_display or "Not provided" },
  actions: { items: [{ href: "/home-and-household/people-who-live-with-you/dob-nondep1", text: "Change" }] }
}]) %}

{% set rows = rows.concat([{
  key: { text: "Blind or severely sight impaired" },
  value: { text: data['blindnonDep'] or "Not provided" },
  actions: {
    items: [{
      href: "/home-and-household/people-who-live-with-you/blind-nondep1",
      text: "Change"
    }]
  }
}]) %}

{% set rows = rows.concat([{
  key: { text: "Date you started living together" },
  value: { text: living_together_display or ('Before ' + data.backdate) },
  actions: {
    items: [{
      href: "/home-and-household/people-who-live-with-you/date-living-together-nondep1",
      text: "Change"
    }]
  }
}]) %}

{% set rows = rows.concat([{
  key: { text: "In education" },
  value: { text: data['educationNonDep'] or "Not provided" },
  actions: {
    items: [{
      href: "/home-and-household/people-who-live-with-you/education-nondep1",
      text: "Change"
    }]
  }
}]) %}

{% set rows = rows.concat([{
  key: { text: "In employment" },
  value: { text: data['employmentNonDep'] or "Not provided" },
  actions: {
    items: [{
      href: "/home-and-household/people-who-live-with-you/employment-nondep1",
      text: "Change"
    }]
  }
}]) %}

{% set rows = rows.concat([{
  key: { text: "Self-employed" },
  value: { text: data['selfEmploymentNonDep'] or "Not provided" },
  actions: {
    items: [{
      href: "#",
      text: "Change"
    }]
  }
}]) %}

{% set rows = rows.concat([{
  key: { text: "Currently staying away" },
  value: { text: data['currentlyAway'] or "Not provided" },
  actions: {
    items: [{
      href: "/home-and-household/people-who-live-with-you/currently-away-nondep1",
      text: "Change"
    }]
  }
}]) %}

{% set rows = rows.concat([{
  key: { text: "Child living with them?" },
  value: { text: data['childNonDep1'] or "Not provided" },
  actions: {
    items: [{
      href: "/home-and-household/people-who-live-with-you/child-responsible-nondep1",
      text: "Change"
    }]
  }
}]) %}

{# ----------------------------- #
  ADULT CARD
# ------------------------------ #}

{{ govukSummaryList({
  card: {
    title: { text: "Adult 1" },
    actions: {
      items: [
      ]
    }
  },
  rows: rows
}) }}

{# ----------------------------- #
  CHILD CARD
# ------------------------------ #}

{% if data['childNonDep1'] == "Yes" %}

{{ govukSummaryList({
  card: {
    title: { text: "Child 1" },
    actions: {
      items: [
        {
          href: "/home-and-household/people-who-live-with-you/child-name-nondep1",
          text: "Change"
        },
        {
          href: "/home-and-household/people-who-live-with-you/remove-child",
          text: "Remove"
        }
      ]
    }
  },

rows: [
  {
    key: { text: "Name" },
    value: { text: data['nondep1ChildName'] or "Not provided" }
  },
  {
    key: { text: "Date of birth" },
    value: { text: child_dob_display or "1 January 2001" }
  },
  {
    key: { text: "Sex at birth" },
    value: { text: data['ChildNonDep1Gender'] or "Not provided" }
  }
]
}) }}

{% endif %}

{{ govukButton({ text: "Save and continue" }) }}

</form>
</div>
</div>

{% endblock %}