{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% set personName = data.nondep1Name %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">People who live with you</span>

      <form class="form" action="/home-and-household/people-who-live-with-you/child-responsible-nondep1" method="post">



{{ govukRadios({
  name: "childNonDep1",
  fieldset: {
    legend: {
            text: "Does " + personName + " have a child or qualifying young person living at the property?",
      classes: "govuk-fieldset__legend--l"
    }
  },
            hint: {
            text: "Children are under age 16. A qualifying young person is age 16 to 19, and in education or training after leaving school. It does not include apprenticeships or university study."
          },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}