{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">People who live with you</span>

      <form class="form" action="/home-and-household/people-who-live-with-you/couple-name-nondep1" method="post">
        {% set people = data.nondependants or [] %}
{% set items = [] %}

{% for person in people %}
  {% set items = items.concat([{
    value: person.name,
    text: person.name
  }]) %}
{% endfor %}

{% set people = data.nondependants or [] %}
{% set items = [] %}

{% for person in people %}
  {% set items = items.concat([{
    value: person.name,
    text: person.name
  }]) %}
{% endfor %}

{{ govukCheckboxes({
  name: "PartnerNameNondep1",
  fieldset: {
    legend: {
      text: "Which adults living in your household form a couple?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select 2 people, or select 'There are no more couples remaining'."
  },
  items: items.concat([
    {
      divider: "or"
    },
    {
      value: "no-more-couples",
      text: "There are no more couples remaining"
    }
  ])
}) }}



        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
