{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% set personName = data.nondep1Name %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/people-who-live-with-you/employment-nondep1" method="post">

        <span class="govuk-caption-l">People who live with you</span>

{{ govukRadios({
  name: "employmentNonDep",
  fieldset: {
    legend: {
            text: "Is " + personName + " in employment?",
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes, full time",
      text: "Yes, full time"
    },
        {
      value: "Yes, part time",
      text: "Yes, part time"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "selfEmploymentNonDep",
  fieldset: {
    legend: {
            text: "Is " + personName + " self-employed?",
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
        {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}