{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/home-and-household/people-who-live-with-you/non-dependant" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "nonDep",
  fieldset: {
    legend: {
            text: "Does anyone else who is over 18 live with you, other than your landlord " 
              ~ (data['landlordName'] | default(' ')) ~ "?",
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Their employment status and income might affect how much Pension Credit or Housing Benefit you could get."
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
