{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set backLinkHref = "/pension-credit/how-to-claim" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Would you also like to apply for Pension Housing Benefit? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select yes if you would like to apply for Pension Housing Benefit",
              href: "#apply-housing-benefit"
            }
          ]
        }) }}
      {% endif %}

      <form method="post" action="/apply-housing-benefit" novalidate>
        
        {% set errorMessage = undefined %}
        {% if errors %}
          {% set errorMessage = {
            text: "Select yes if you would like to apply for Pension Housing Benefit"
          } %}
        {% endif %}

        {{ govukRadios({
          name: "applyHousingBenefit",
          id: "apply-housing-benefit",
          fieldset: {
            legend: {
              text: "Would you also like to apply for Pension Housing Benefit?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Hint text to give context on what Pension Housing Benefit can help with"
          },
          errorMessage: errorMessage,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: data['applyHousingBenefit'] == "yes"
            },
            {
              value: "no",
              text: "No",
              checked: data['applyHousingBenefit'] == "no"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
