{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

      <p>
        <a href="Documents/Prototypes/pension-hb-c-prototype/app/start-page.html">
          Start page - This will likely be owned by GDS test change
        </a>
      </p>   

      <p>
        <a href="Documents/Prototypes/pension-hb-c-prototype/app/information-you-will-need.html">
          information you will need page - This will likely be owned by GDS
        </a>
      </p>    

      <p>
        <a href="Documents/Prototypes/pension-hb-c-prototype/app/which-country-do-you-live-in.html">
          Which country do you live in
        </a>
      </p>   

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
