{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

      <p>
        <a href="task-list">
          Your home and household prototype v3
        </a>
      </p>   

      <p>
        <a href="submit-your-application">
          Application submission v1
        </a>
      </p>     

      <p>
        <a href="start-page">
          Start page v1 
        </a>
      </p>  

      <p>
        <a href="/agent-view/new-applications">
          Home and household agent processing v3
        </a>
      </p>  

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}