{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Working, pensions and jobs",
        href: "#"
      },
      {
        text: "Benefits and financial support if you're on a low income"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply for Pension Credit and Housing Benefit
      </h1>

        <p>
          If you have been invited by DWP, you can use this service to apply for both Pension Credit and Housing Benefit at the same time.
        </p>

        <p>
          Pension Credit can top up your income to help with living costs, and Housing Benefit can help you pay your rent.
        </p>

      <!-- <h2 class="govuk-heading-m">
        Eligibility
      </h2>

        <p>
          You should only use this service if you believe you are eligible for both. If you are only eligible for one of the benefits, you should apply separately.
        </p>

        <p>
          You can use this service to check if you are eligible before you apply.
        </p>         -->

      <h2 class="govuk-heading-m">
        Applying for Pension Credit
      </h2>

        <p>
          You can use this service to apply for Pension Credit if you:
        </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are currently in the UK</li>
        <li>have the right to live and work in the UK</li>
      </ul>

      <p>You cannot use this service to apply for Pension Credit if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are currently outside the UK</li>
        <li>have been outside the UK for more than 4 weeks, unless it is for medical treatment or recovery</li>
        <li>are moving away from the UK permanently</li>
        <li>are below State Pension age</li>
      </ul>

      <h2 class="govuk-heading-m">
        Applying for Housing Benefit
      </h2>

        <p>
          You can use this service to apply for Housing Benefit if you:
        </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are resident in Great Britain</li>
        <li>currently live at the address you are applying for</li>
        <li>you are responsible for the rent for the home you live in, or the room you live in</li>
      </ul>

      <p>You cannot use this service to apply for Housing Benefit if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are currently staying away from the address you are applying for</li>
        <li>own your home, or have a mortgage on it</li>
      </ul>

      <h2 class="govuk-heading-m">
        Before you apply
      </h2>

      <p>You can use this service to check if you are eligible for both benefits before applying. You may only be eligible for one, or neither.</p>
      <p>You will need to create a GOV.UK One Login account as part of your application.</p>
      <p>You must complete your application within 30 days or you will have to start again.</p>

      <h2 class="govuk-heading-m">
      Continuing an application you have saved
      </h2>

      <p>You can save your answers and return to complete your application, but you must complete it within 30 days or you will have to start again.</p>

      <p>
        <a href="#">
       Sign in to continue your application
        </a>
      </p>

      <h2 class="govuk-heading-m">
        Other help you may be entitled to
      </h2>

      <p>If you are eligible for Pension Credit you can also get other help, such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a
              class="govuk-link"
              href="https://www.gov.uk/cold-weather-payment/eligibility"
              target="_blank"
              rel="noopener noreferrer"
            >
            Cold Weather Payments</a> 
           (or 
          <a
              class="govuk-link"
              href="https://www.mygov.scot/winter-heating-payment"
              target="_blank"
              rel="noopener noreferrer"
            >
            Winter Heating Payments</a>
           in Scotland)</li>
        <li>a 
          <a
              class="govuk-link"
              href="https://www.gov.uk/apply-council-tax-reduction"
              target="_blank"
              rel="noopener noreferrer"
            >
            Council Tax Reduction</a>
            </li>
        <li>a 
          <a
              class="govuk-link"
              href="https://www.gov.uk/free-discount-tv-licence"
              target="_blank"
              rel="noopener noreferrer"
            >
            free TV licence</a>
             if you’re aged 75 or over</li>
        <li>help with 
          <a
              class="govuk-link"
              href="https://www.gov.uk/help-nhs-costs"
              target="_blank"
              rel="noopener noreferrer"
            >
            NHS dental treatment, glasses and transport costs</a>
           for hospital appointments, if you get the Guarantee Credit part of Pension Credit</li>
        <li>help with your heating costs through the 
          <a
              class="govuk-link"
              href="https://www.gov.uk/the-warm-home-discount-scheme"
              target="_blank"
              rel="noopener noreferrer"
            >
            Warm Home Discount Scheme</a>
          </li>
      </ul>

      <h2 class="govuk-heading-m">
        Information you will need
      </h2>

      <p>You will need to tell us about:</p>

      <ul class="govuk-list govuk-list--bullet">
  <li>your right to live and work in the UK</li>
  <li>any time spent outside the UK in the last 3 months</li>
  <li>any overnight stays in hospital in the last 3 months</li>
  <li>your living situation, including any landlord or agency details</li>
  <li>any other people living with you</li>
  <li>your address history for the last 3 months</li>
  <li>your income, money and investments</li>
  <li>any property or land you own</li>
      </ul>

      <p> If you live with a partner, you will also need to tell us the same information about them.</p>

      {{ govukButton({
        text: "Start now",
        href: "/home-and-household/prototype-break-page-1",
        isStartButton: true
      }) }}
    
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
