{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ serviceName }}</h1>

    {% set completedStatus = {
      text: "Completed"
    } %}

    {% set cannotstartStatus = {
      text: "Cannot start yet"
    } %}

    {% set incompleteStatus = {
      tag: {
        text: "Not started yet",
        classes: "govuk-tag--blue"
      }
    } %}

{# ---------- STATUS LOGIC ---------- #}

{# Your address (always available) #}
{% set yourAddressStatus = incompleteStatus %}
{% if data['yourAddressComplete'] %}
  {% set yourAddressStatus = completedStatus %}
{% endif %}


{# Rental and housing costs (unlocked by address) #}
{% set rentalCostsStatus = cannotstartStatus %}
{% if data['yourAddressComplete'] %}
  {% set rentalCostsStatus = incompleteStatus %}
  {% if data['rentalCostsComplete'] %}
    {% set rentalCostsStatus = completedStatus %}
  {% endif %}
{% endif %}


{# About the place you live (unlocked by rental costs) #}
{% set aboutPlaceStatus = cannotstartStatus %}
{% if data['rentalCostsComplete'] %}
  {% set aboutPlaceStatus = incompleteStatus %}
  {% if data['aboutPlaceComplete'] %}
    {% set aboutPlaceStatus = completedStatus %}
  {% endif %}
{% endif %}


{# Your landlord (unlocked by about place) #}
{% set landlordStatus = cannotstartStatus %}
{% if data['aboutPlaceComplete'] %}
  {% set landlordStatus = incompleteStatus %}
  {% if data['landlordComplete'] %}
    {% set landlordStatus = completedStatus %}
  {% endif %}
{% endif %}


{# Your previous address (unlocked by landlord) #}
{% set previousAddressStatus = cannotstartStatus %}
{% if data['landlordComplete'] %}
  {% set previousAddressStatus = incompleteStatus %}
  {% if data['previousAddressComplete'] %}
    {% set previousAddressStatus = completedStatus %}
  {% endif %}
{% endif %}


{# Other property or land (unlocked by previous address) #}
{% set otherPropertyStatus = cannotstartStatus %}
{% if data['previousAddressComplete'] %}
  {% set otherPropertyStatus = incompleteStatus %}
  {% if data['otherPropertyComplete'] %}
    {% set otherPropertyStatus = completedStatus %}
  {% endif %}
{% endif %}


{# People who live with you (unlocked by other property) #}
{% set householdPeopleStatus = cannotstartStatus %}
{% if data['otherPropertyComplete'] %}
  {% set householdPeopleStatus = incompleteStatus %}
  {% if data['householdPeopleComplete'] %}
    {% set householdPeopleStatus = completedStatus %}
  {% endif %}
{% endif %}

    {# ---------- TASK LISTS ---------- #}

    {{ govukTaskList({
      idPrefix: "initial-questions",
      items: [
        {
          title: { text: "Check your eligibility" },
          href: "#",
          status: completedStatus
        },
        {
          title: { text: "Backdate your application" },
          href: "#",
          status: completedStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">About you</h2>

    {{ govukTaskList({
      idPrefix: "about-you",
      items: [
        {
          title: { text: "Your personal details" },
          href: "#",
          status: completedStatus
        },
        {
          title: { text: "Your immigration status" },
          href: "#",
          status: completedStatus
        },
        {
          title: { text: "Time you have spent outside of the UK" },
          href: "#",
          status: completedStatus
        },
        {
          title: { text: "Time you have spent in hospital" },
          href: "#",
          status: completedStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Your home and household</h2>

    {{ govukTaskList({
      idPrefix: "home-and-household",
      items: [

        {
          title: { text: "Your address" },
          href: "/home-and-household/your-address/perm-care-home",
          status: yourAddressStatus
        },
        {
          title: { text: "Rental and housing costs" },
          href: "/home-and-household/rental-and-housing-costs/living-situation",
          status: rentalCostsStatus
        },
        {
          title: { text: "About the place you live" },
          href: "/home-and-household/about-the-place-you-live/business-use",
          status: aboutPlaceStatus
        },
        {
          title: { text: "Your landlord" },
          href: "/home-and-household/your-landlord/landlord-name",
          status: landlordStatus
        },
        {
          title: { text: "Your previous address" },
          href: "/home-and-household/your-previous-address/changed-address",
          status: previousAddressStatus
        },
        {
          title: { text: "Other property or land you own" },
          href: "/home-and-household/other-property-or-land/other-property",
          status: otherPropertyStatus
        },
        {
          title: { text: "People who live with you" },
          href: "/home-and-household/people-who-live-with-you/non-dependant",
          status: householdPeopleStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Your income, money and investments</h2>

    {{ govukTaskList({
      idPrefix: "income-money-and-investments",
      items: [
        {
          title: { text: "Income from working" },
          href: "#",
          status: incompleteStatus
        },
        {
          title: { text: "Income from benefits" },
          href: "#",
          status: incompleteStatus
        },
        {
          title: { text: "Income from pensions" },
          href: "#",
          status: incompleteStatus
        },
        {
          title: { text: "Other income" },
          href: "#",
          status: incompleteStatus
        },
        {
          title: { text: "Money and investments" },
          href: "#",
          status: incompleteStatus
        },
        {
          title: { text: "Other payments and payouts" },
          href: "#",
          status: incompleteStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">How we contact you</h2>

    {{ govukTaskList({
      idPrefix: "how-we-contact-you",
      items: [
        {
          title: { text: "Applying for yourself or someone else" },
          href: "#",
          status: incompleteStatus
        },
        {
          title: { text: "Contact details" },
          href: "#",
          status: incompleteStatus
        },
        {
          title: { text: "How we will contact you" },
          href: "#",
          status: incompleteStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Finalise your application</h2>

    {{ govukTaskList({
      idPrefix: "finalise-application",
      items: [
        {
          title: { text: "Submit your application" },
          href: "/prototype-break-page-2",
          status: cannotstartStatus
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}