{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceName = "Apply for Pension Credit and Pension Housing Benefit" %}

{% block header %}
    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: "/"
    })}}
{% endblock %}

{% block beforeContent %}
  {% if showBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: backLinkHref or "javascript:window.history.back()"
    }) }}
  {% endif %}
{% endblock %}
